<div class="container mt-5">
    <button class="btn remove-focus float-right" (click)="isTableView = !isTableView">
        <i [ngClass]="isTableView ? 'fa fa-toggle-on font-size-24' : 'fa fa-toggle-off font-size-24'" aria-hidden="true"></i>
        <span class="title">{{isTableView ? 'Table View' : 'Grid View'}}</span>
    </button>
    <ng-container *ngIf="!isTableView">
        <app-grid [gridInfo]="remoteData"></app-grid>
    </ng-container>
    <ng-container *ngIf="isTableView">
        <app-table [tableInfo]="remoteData"></app-table>
    </ng-container>
</div>