.remove-focus:focus {
    outline: none !important;
    box-shadow: none !important;
}

.title {
    padding-left: 10px;
    font-size: 22px;
    font-weight: 500;
}
.font-size-24 {
    font-size: 24px;
}

.font-size-20 {
    font-size: 20px;
}

.fa-color-blue {
    color: blue;
}

.m-t-50vh {
    margin-top: 50vh;
}